
.nav-sec {
	background:#f6f6f6;
	height:48px;
	display:block;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

/*.nav {
	line-height:50px;
	font-family: 'solaimanlipinormal';
}
.nav li {
	float:left;
	position:relative;
}
.nav li a {
	color:#264c84;
	display:block;
	font-size:14.2px;
	font-weight:600;
	padding:0 14px;
}
.nav li a:hover {
	background:#e6e6e6;
}
.nav li:nth-child(1) a {
	color:#264c84;
}
.nav li:nth-child(1) a:hover {
	background:#264c84;
	color:#fff;
}
.nav li:nth-child(2) a {
	color:#d22300;
}
.nav li:nth-child(2) a:hover {
	background:#d22300;
	color:#fff;
}
.nav li:nth-child(3) a {
	color:#6d8b13;
}
.nav li:nth-child(3) a:hover {
	background:#6d8b13;
	color:#fff;
}
.nav li:nth-child(4) a {
	color:#1b8cb1;
}
.nav li:nth-child(4) a:hover {
	background:#1b8cb1;
	color:#fff;
}
.nav li:nth-child(5) a {
	color:#8601a3;
}
.nav li:nth-child(5) a:hover {
	background:#8601a3;
	color:#fff;
}
.nav li:nth-child(6) a {
	color:#00a9ef;
}
.nav li:nth-child(6) a:hover {
	background:#00a9ef;
	color:#fff;
}
.nav li:nth-child(7) a {
	color:#0196a3;
}
.nav li:nth-child(7) a:hover {
	background:#0196a3;
	color:#fff;
}
.nav li:nth-child(8) a {
	color:#6d8b13;
}
.nav li:nth-child(8) a:hover {
	background:#6d8b13;
	color:#fff;
}
.nav li:nth-child(9) a {
	color:#2b6dcd;
}
.nav li:nth-child(9) a:hover {
	background:#2b6dcd;
	color:#fff;
}
.nav li:nth-child(10) a {
	color:#d22300;
}
.nav li:nth-child(10) a:hover {
	background:#d22300;
	color:#fff;
}
.nav li:nth-child(11) a {
	color:#00a9ef;
}
.nav li:nth-child(11) a:hover {
	background:#00a9ef;
	color:#fff;
}
.nav li:nth-child(12) a {
	color:#1b8cb1;
}
.nav li:nth-child(12) a:hover {
	background:#1b8cb1;
	color:#fff;
}
.nav li:nth-child(13) a {
	color:#264c84;
}
.nav li:nth-child(13) a:hover {
	background:#264c84;
	color:#fff;
}
.nav li:nth-child(14) a {
	color:#d22300;
}
.nav li:nth-child(14) a:hover {
	background:#d22300;
	color:#fff;
}
.nav li:nth-child(15) a {
	color:#8601a3;
}
.nav li:nth-child(15) a:hover {
	background:#8601a3;
	color:#fff;
}


.nav li:hover ul {
	display:block;
}
.nav ul {
	display:none;
	position:absolute;
	width:270px;
	line-height:40px;
	background:#ddd;
	z-index:999;
}
.nav ul li {
	float:none;
	position:relative;
}

.nav ul li a {
	color:#264c84;
	display:block;
	font-size:16px;
	font-weight:400;
	padding:0 14px;
}*/

/*=============================================*/






.nav,
.drop-nav {
}
.nav {
  	float: left;
	line-height:50px;
	 font-family: 'Hind Siliguri', sans-serif;
}
.nav > li {
    float: left;
}
.nav li a:hover {
	background:#e6e6e6;
}
.nav li:nth-child(1) a {
	color:#264c84;
}
.nav li:nth-child(1) a:hover {
	background:#264c84;
	color:#fff;
}
.nav li:nth-child(1) a.active {
	box-shadow: inset 0px -3px 0px #264c84;
}
.nav li:nth-child(2) a {
	color:#d22300;
}
.nav li:nth-child(2) a:hover {
	background:#d22300;
	color:#fff;
}
.nav li:nth-child(2) a.active {
	box-shadow: inset 0px -3px 0px #d22300;
}

.nav li:nth-child(3) a {
	color:#6d8b13;
}
.nav li:nth-child(3) a:hover {
	background:#6d8b13;
	color:#fff;
}
.nav li:nth-child(3) a.active {
	box-shadow: inset 0px -3px 0px #6d8b13;
}

.nav li:nth-child(4) a {
	color:#1b8cb1;
}
.nav li:nth-child(4) a:hover {
	background:#1b8cb1;
	color:#fff;
}
.nav li:nth-child(4) a.active {
	box-shadow: inset 0px -3px 0px #1b8cb1;
}

.nav li:nth-child(5) a {
	color:#8601a3;
}
.nav li:nth-child(5) a:hover {
	background:#8601a3;
	color:#fff;
}
.nav li:nth-child(5) a.active {
	box-shadow: inset 0px -3px 0px #8601a3;
}

.nav li:nth-child(6) a {
	color:#00a9ef;
}
.nav li:nth-child(6) a:hover {
	background:#00a9ef;
	color:#fff;
}
.nav li:nth-child(6) a.active {
	box-shadow: inset 0px -3px 0px #00a9ef;
}

.nav li:nth-child(7) a {
	color:#0196a3;
}
.nav li:nth-child(7) a:hover {
	background:#0196a3;
	color:#fff;
}
.nav li:nth-child(7) a.active {
	box-shadow: inset 0px -3px 0px #0196a3;
}

.nav li:nth-child(8) a {
	color:#6d8b13;
}
.nav li:nth-child(8) a:hover {
	background:#6d8b13;
	color:#fff;
}
.nav li:nth-child(8) a.active {
	box-shadow: inset 0px -3px 0px #6d8b13;
}

.nav li:nth-child(9) a {
	color:#2b6dcd;
}
.nav li:nth-child(9) a:hover {
	background:#2b6dcd;
	color:#fff;
}
.nav li:nth-child(9) a.active {
	box-shadow: inset 0px -3px 0px #2b6dcd;
}

.nav li:nth-child(10) a {
	color:#d22300;
}
.nav li:nth-child(10) a:hover {
	background:#d22300;
	color:#fff;
}
.nav li:nth-child(10) a.active {
	box-shadow: inset 0px -3px 0px #d22300;
}

.nav li:nth-child(11) a {
	color:#00a9ef;
}
.nav li:nth-child(11) a:hover {
	background:#00a9ef;
	color:#fff;
}
.nav li:nth-child(11) a.active {
	box-shadow: inset 0px -3px 0px #00a9ef;
}

.nav li:nth-child(12) a {
	color:#1b8cb1;
}
.nav li:nth-child(12) a:hover {
	background:#1b8cb1;
	color:#fff;
}
.nav li:nth-child(12) a.active {
	box-shadow: inset 0px -3px 0px #1b8cb1;
}

.nav li:nth-child(13) a {
	color:#264c84;
}
.nav li:nth-child(13) a:hover {
	background:#264c84;
	color:#fff;
}
.nav li:nth-child(13) a.active {
	box-shadow: inset 0px -3px 0px #264c84;
}

.nav li:nth-child(14) a {
	color:#d22300;
}
.nav li:nth-child(14) a:hover {
	background:#d22300;
	color:#fff;
}
.nav li:nth-child(14) a.active {
	box-shadow: inset 0px -3px 0px #d22300;
}

.nav li:nth-child(15) a {
	color:#8601a3;
}
.nav li:nth-child(15) a:hover {
	background:#8601a3;
	color:#fff;
}
.nav li:nth-child(15) a.active {
	box-shadow: inset 0px -3px 0px #8601a3;
}


.nav a {
    text-decoration: none;
	color:#264c84;
	display:block;
	font-size:15px;
	font-weight:600;
	padding:0 14px;
}

.dropdown,
.flyout {
  position: relative;
}
.dropdown:after {
  font-family: 'FontAwesome';
  color:#a0a0a0;
  content: "\f0d7";
  font-size:14px;
  display: block;
  position: absolute;
  top:0;
  right:2px;
}
.dropdown:hover:after {
  color:#f6f6f6;
}
.flyout:after {
  font-family: 'FontAwesome';
  color:#264c84;
  content: "\f0da";
  font-size:14px;
  display: block;
  position: absolute;
  top:0;
  right:7px;
}
.flyout:hover:after {
  color:#eaeaea;
}

.drop-nav,
.flyout-nav {
  position: absolute;
  display: none;
  background:#fff;
  width:270px;
  line-height:40px;
}
.drop-nav li {
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
.drop-nav li:last-child {
  border-bottom: 0px solid rgba(255,255,255,0.5);
}
.drop-nav li a {
	color:#264c84;
	display:block;
	font-size:14px;
	font-weight:400;
	padding:0 14px;
}



.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
  display: block;
  box-shadow:0 0 15px rgba(0,0,0,0.2);
}
.flyout-nav {
  left: 100%;
  top: 0;
}
.flyout:hover a,
.flyout-nav {
  background:#EAEAEA;
  color:#333;
}

.slicknav_menu {
	display:none;
}












/*
    Mobile Menu Core Style
*/

.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block }
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { display: block; cursor: pointer; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
	font-size:16px;
}
/* Button */
.slicknav_btn {
	margin: 5px 5px 6px;	
	text-decoration:none;	
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;  
	background-color: #222222;
}
/* Button Text */
.slicknav_menu  .slicknav_menutxt {	
	color: #FFF;
	font-weight: bold;	
	text-shadow: 0 1px 3px #000;	
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5;
}
.slicknav_menu {
	background:#4c4c4c;
	padding:5px;
}
.slicknav_nav {
	color:#fff;
	margin:0;	
	padding:0;
	font-size:0.875em;
}
.slicknav_nav, .slicknav_nav ul {
	list-style: none;
	overflow:hidden;
}
.slicknav_nav ul {
	padding:0;
	margin:0 0 0 20px;
}
.slicknav_nav .slicknav_item {
	padding:5px 10px;
	margin:2px 5px;
}
.slicknav_nav a{
	padding:5px 10px;
	margin:2px 5px;
	text-decoration:none;
	color:#fff;
}
.slicknav_nav .slicknav_item a {
	padding:0;
	margin:0;
}
.slicknav_nav .slicknav_item:hover {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background:#ccc;
	color:#fff;	
}
.slicknav_nav a:hover{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background:#ccc;
	color:#222;
}
.slicknav_nav .slicknav_txtnode {
     margin-left:15px;   
}





.dropdown {
}
.drop-nav {
  z-index:999;
}
.flyout-nav {
  z-index:1000;
}